if SHIELD_STELLAR_LEFT

    config ZMK_KEYBOARD_NAME
        default "Stellar"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif # LEFT



if SHIELD_STELLAR_LEFT || SHIELD_STELLAR_RIGHT

    config ZMK_SPLIT
        default y

endif # LEFT RIGHT
